<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TabTop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Tabs</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" routerLink="/url">Group by URL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/title">Group by Title</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/titletopic">Group by Title Topic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/topic">Group by Body Topic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Sort by Search</a>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
